* {
  padding: 0;
  margin: 0;
}

body {
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

h1 {
  color: orangered;
  font-size: 60px;
}

p {
  color: blue;
  margin-top: 20px;
  font-size: 20px;
  font-family: sans-serif;
}

#b1,
#b2,
#b3,
#b4,
#b5,
#b6,
#b7,
#b8,
#b9 {
  width: 80px;
  height: 52px;
  cursor: pointer;
  text-align: center;
  border: solid orangered 1px;
  border-radius: 5px;
  margin: auto;
  padding: 10px;
  grid-template-rows: min-content;
  font-size: 37px;
}

#reset-el {
  width: 100px;
  height: 40px;
  background-color: grey;
  font-weight: bold;
  font-size: 17px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
